.about_title {
    padding-top: 211px;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 215px;
}

.about_title h1 {
    font-size: 46px;
    font-weight: 400;
    line-height: 69px;
    text-align: left;
}

.about_title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    padding-left: 10px;
    border-left: 1px solid rgba(3, 7, 52, 1)
}

.about_title img {
    padding-top: 58px;
    width: 100%;
    text-align: center;
}

.member {
    width: 423px;
    height: 827px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.member_title {
    text-align: center;
    padding: 16px 69px 16px 69px;
    border-radius: 44px;
    background: rgba(246, 228, 239, 1);
}

.member_title h6 {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.member_title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}

.member_desc {
    padding: 0px 0px 0px 10px;
    border-left: 1px solid rgba(225, 56, 132, 1)
}

.member_desc p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.6);
}

.aboutus {
    padding-left: 160px;
    padding-right: 160px;
    position: relative;
    z-index: 1;
}

.about_background {
    position: absolute;
    width: 1185px;
    height: 1827px;
    top: -37px;
    left: 0;
    z-index: -1;
    border-radius: 0px 80px 80px 0px;
    background: rgba(229, 232, 255, 1);
}
.Group_purple{
    position: absolute;
    top: -80px;
    right: 70px;
}