.about_title {
    padding-top: 211px;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 58px;
}

.about_title h1 {
    font-size: 46px;
    font-weight: 400;
    line-height: 69px;
    text-align: left;
}

.about_title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    padding-left: 10px;
    border-left: 1px solid rgba(3, 7, 52, 1)
}