.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px;
    position:absolute;
    width:100%;
    z-index: 2;
}

.navbar .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo ul {
    list-style-type: none;
}

.logo ul li {
    padding-right: 20px;
    cursor: pointer;
}

.getapp {
    background-color: rgba(3, 7, 52, 1);
    border-radius: 60px;
    color: white;
    width: 167px;
    height: 52px;
    display: flex;
    align-items: center;
    padding: 18px 19.5px;
    justify-content: center;
    cursor: pointer;
}